/* BOARD */

h1 {
    text-align: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

.board-square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

/* PLAYER DISPLAY */

.player-one-container {
    text-align: center;
}

.player-two-container {
    text-align: center;
}

#player-one {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

#player-two {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

label {
    font-size: 20px;
}

.player-symbol {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.player-turn {
    font-size: 20px;
}

.winner-display {
    font-size: 40px;
    font-weight: bold;
}

/* BUTTONS */

.buttons {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.new {
    padding: 20px;
    cursor: pointer;
}

.reset {
    padding: 20px;
    cursor: pointer;
}